html{
overflow: hidden;
}
body{
  height: 100vh;
}
*{
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

.topbar{
  height: 10.5vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
}

.logo{
  position: relative;
  display: flex;
  height: 4rem;
  width: 30%;
  align-items: center;
}

.logo .darklogo{
  position: absolute;
  height: 2rem;
  width: 2rem;
  left: 1rem;
}

.logo .home{
  position: absolute;
  right: 1rem;
  display: flex;
  background-color: #212121;
  padding: 0.5rem 0.5rem;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.logo .darklogo img{
  height: 2rem;
}

.logo .home img{
  background-color: #212121;
  height: 1.75rem;
}

.searchbar{
  display: flex;
  border: solid;
  border-width: 0.5px;
  border-color: white;
  margin-top: 0.5rem;
  border-radius: 200px;
  background-color: #121212;
  height: 3rem;
  width: 40%;
  align-items: center;
}

.search_icon{
  margin-left: 0.5rem;
  background-color: #121212;
  width: 2rem;
}

.searchbar input[type=text] {
  border: none;
  background-color: #121212;
  border-radius: 200px;
  height: 100%;
  width: 90%;
  font-size: 1rem;
  font-weight: 550;
  padding-left: 0.5rem;
  color: white;
}

.searchbar input[type=text]:focus{
  outline: none;
}

.account{
  position: relative;
  display: flex;
  height: 4rem;
  width: 30%;
  align-items: center;
}

.account .bell{
  position: absolute;
  right: 9rem;
  display: flex;
  background-color: #212121;
  padding: 0.5rem 0.5rem;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.account .bell img{
  background-color: #212121;
  height: 1.75rem;
}

.account .friends{
  position: absolute;
  right: 5rem;
  display: flex;
  background-color: #212121;
  padding: 0.5rem 0.5rem;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.account .friends img{
  background-color: #212121;
  height: 1.75rem;
}

.account .account_icon{
  position: absolute;
  right: 1rem;
  display: flex;
  background-color: #212121;
  padding: 0.5rem 0.5rem;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.account .account_icon img{
  background-color: #212121;
  border-radius: 200px;
  height: 2.5rem;
}

.sidebar{
  height: 75vh;
  width: 35%;
  background-color: #121212;
  color: white;
  margin-left: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.yourlib{
  position: relative;
  background-color: #121212;
  border: none;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  margin-top: 0.25rem;
}
.yourlib span{
  position: absolute;
  background-color: #121212;
  left: 1rem;
  font-weight: 700;
}
.create_button{
  position: absolute;
  right: 3.5rem;
  height: 2rem;
  width: 5.5rem;
  background-color: #212121;
  color: white;
  font-weight: 750;
  align-items: center;
  border: none;
  border-radius: 200px;
  display: flex;
}
.create_button img{
  opacity: 0.6;
  margin-left: 0.5rem;
  margin-right: 0.25rem;
  height: 1rem;
  background-color: #212121;
}
.expand_button {
  position: absolute;
  right: 1.25rem;
  width: 1rem;
  background-color: #212121;
  color: white;
  font-weight: 750;
  align-items: center;
  border: none;
  display: flex;
  opacity: 0.5;
}
.expand_button img{
  width: 1rem;
  background-color: #121212;
}

.filters{
  background-color: #121212;
  border: none;
  display: flex;
  align-items: center;
  height: 10%;
}
.filter_button{
  font-size: 1px;
  margin-left: 0.5rem;
  height: 2rem;
  padding: 0.5rem 1rem;
  background-color: #212121;
  color: white;
  font-weight: 500;
  align-items: center;
  border: none;
  border-radius: 200px;
  display: flex;
}

.search_section{
  position: relative;
  background-color: #121212;
  border: none;
  display: flex;
  align-items: center;
  height: 5%;
}
.search_section_icon{
  position: absolute;
  left: 1rem;
  background-color: #121212;
  width: 1.5rem;
  opacity: 0.5;
}
.recent_button{
  position: absolute;
  right: 0.5rem;
  height: 2rem;
  padding: 0.5rem 0.5rem;
  opacity: 0.7;
  background-color: #121212;
  color: white;
  font-size: 0.5rem;
  font-weight: 400;
  align-items: center;
  border: none;
  border-radius: 200px;
  display: flex;
}
.recent_button img{
  width: 1.5rem;
  margin-left: 0.5rem;
  opacity: 1;
  background-color: #121212;
}

.list{
  background-color: #121212;
  justify-content: center;
  margin-top: 10px;
  height: 72%;
  overflow: auto;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.list::-webkit-scrollbar{
  width: 10px;
}
.list::-webkit-scrollbar-track{
  background-color: #121212;
  border-radius: 0.5rem;
}
.list::-webkit-scrollbar-thumb{
  background-color: #303030;
  border-radius: 1rem;
}
.playlist_card{
  display: flex;
  background-color: #121212;
  border: none;
  border-radius: 10px;
  width: 95%;
  padding: 2px 2px;
  align-items: center;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.card_img{
  background-color: #121212;
}
.card_img img{
  border-radius: 8px;
  border: solid;
  border-color: white;
  border-width: 0.5px;
  width: 3.25rem;
  margin-right: 0.75rem;
}
.card_details{
  background-color: #121212;
}
.card_details p{
  background-color: #121212;
  padding: 3px;
}
.card_details img{
  background-color: #121212;
  display: inline-block;
  width: 0.9rem;
}
#one{
  font-size: 1rem;
  font-weight: 500;
}
#two{
  display: inline-block;
  color: #ffffff83;
  font-size: 0.25rem;
  font-weight: 500;
}

.musicarea{
  height: 75vh;
  width: 65%;
  background-color: #121212;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  overflow: auto;
}
.musicarea::-webkit-scrollbar{
  width: 10px;
}
.musicarea::-webkit-scrollbar-track{
  background-color: #121212;
  border-radius: 0.5rem;
}
.musicarea::-webkit-scrollbar-thumb{
  background-color: #303030;
  border-radius: 1rem;
}
.recent_plays{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: #121212;
}.recent_plays .cards{
  background-color: #212121;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}
.cards .card_details>#one{
  font-size: 0.75rem;
  font-weight: 600;
  background-color: #212121;
}
.cards img{
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  margin-right: 0.5rem;
  width: 3.25rem;
}

.suggestion_cards{
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  background-color: #121212;
}
.title{
  position: relative;
  background-color: #121212;
  margin-left: 2rem;
  margin-right: 2rem;
}
.made_for{
  font-size: 1px;
  font-weight: 400;
  opacity: 0.7;
  background-color: #121212;
}
.title p{
  background-color: #121212;
  font-size: 1.5rem;
  font-weight: 700;
}
.name{
  background-color: #121212;
}
.title .show_all{
  position: absolute;
  background-color: #121212;
  right: 0.25rem;
  font-size: 1px;
  font-weight: 700;
  opacity: 0.7;
}
.suggestion_list{
  display: grid;
  gap: 20px;
  background-color: #121212;
  grid-template-columns: repeat(auto-fit, 12rem);
  grid-template-rows: repeat(1, 1fr);
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 2rem;
  margin-top: 1rem;
  height: auto;
}
.suggestion_list::-webkit-scrollbar{
  width: 0px;
}
.sug_card{
  background-color: #121212;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
}
.sug_card p{
  display: flex;
  background-color: #121212;
  width: 11rem;
  margin-top: 0.5rem;
  font-size: xx-small;
  font-weight: 500;
  opacity: 0.7;
}
.sug_card img{
  background-color: #121212;
  width: 11rem;
  border-radius: 0.5rem;
}


.player{
  display: flex;
  background-color: rgb(0, 0, 0);
  color: white;
  width: 100%;
  height: 14.5vh;
}
.album{
  display: flex;
  align-items: center;
  margin-left: 1rem;
  width: 25%;
}
.album .playlist_card{
    margin: 0px 0px;
    background-color: black;
}
.album .playlist_card .card_details,.album .playlist_card #one,.album .playlist_card .card_img,
.album .playlist_card #two{
  background-color: black;
}

.controls{
  background-color: black;
  width: 50%;
}
.control_icons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}
.control_icons img{
  width: 0.9rem;
  opacity: 0.8;
  margin: 1rem;
}
.control_icons .play_icon{
  width: 2.5rem;
  opacity: 1;
}
.control_bar{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1px;
  font-weight: 500;
}
.control_bar input[type=range]{
  width: 70%;
  height: 4px;
  border-radius: 10px;
  background-color: #303030;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.control_bar input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  background: white;
  height: 15px;
  width: 10px;
}

.options{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 25%;
}
.options img{
  width: 2rem;
  margin: 5px;
  opacity: 0.9;
}