*{
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

.topbar{
  height: 4rem;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
}

.logo{
  display: flex;
  height: 4rem;
  width: 30%;
  align-items: center;
}

.logo .darklogo{
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
}

.logo .home{
  display: flex;
  background-color: #1a1a1a;
  padding: 0.5rem 0.5rem;
  margin-left: 17rem;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.logo .darklogo img{
  height: 2rem;
}

.logo .home img{
  background-color: #1a1a1a;
  height: 1.75rem;
}

.searchbar{
  display: flex;
  border: solid;
  border-width: 0.5px;
  border-color: white;
  margin-top: 0.5rem;
  border-radius: 200px;
  background-color: #121212;
  height: 3rem;
  width: 40%;
  align-items: center;
}

.search_icon{
  margin-left: 0.5rem;
  background-color: #121212;
  width: 2rem;
}

.searchbar input[type=text] {
  border: none;
  background-color: #121212;
  border-radius: 200px;
  height: 100%;
  width: 90%;
  font-size: 1rem;
  font-weight: 550;
  padding-left: 0.5rem;
  color: white;
}

.searchbar input[type=text]:focus{
  outline: none;
}

.account{
  display: flex;
  height: 4rem;
  width: 30%;
  align-items: center;
}

.account .bell{
  display: flex;
  background-color: #1a1a1a;
  padding: 0.5rem 0.5rem;
  margin-left: 50%;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.account .bell img{
  background-color: #1a1a1a;
  height: 1.75rem;
}

.account .friends{
  display: flex;
  background-color: #1a1a1a;
  padding: 0.5rem 0.5rem;
  margin-left: 1rem;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.account .friends img{
  background-color: #1a1a1a;
  height: 1.75rem;
}

.account .account_icon{
  display: flex;
  background-color: #1a1a1a;
  padding: 0.5rem 0.5rem;
  margin-left: 1rem;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.account .account_icon img{
  background-color: #1a1a1a;
  border-radius: 200px;
  height: 2.5rem;
}

.sidebar{
  height: 75vh;
  width: 25%;
  background-color: #121212;
  color: white;
  margin-left: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.musicarea{
  height: 75vh;
  width: 75%;
  background-color: #121212;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.player{
  background-color: rgb(0, 0, 0);
  color: white;
}